# expected jinja variables, set by calling python script
# {{gateway}} - typically 'faraday.inria.fr'
# {{leader}} - typically 'sopnode-l1.inria.fr'
# {{namespace}} - typically 'oai5g'
# {{nodes}} - typically {'k8s_fit': 'fit01', 'spgwu': 'sopnode-w3.inria.fr', 'gnb' : 'sopnode-w2.inria.fr'}
# {{quectel_nodes}} - typically {'9': 'fit09', '18': 'fit18}
# {{regcred}} - typically {'name': 'jdoe', 'password': 'XX', 'email': 'jdoe@yahoo.fr'}
# {{image}} - typically 'kubernetes'
# {{quectel_image}} - typically 'quectel-wwan0'
# {{verbose}} - typically 'True' or 'False'

nodes:
  - id: faraday
    hostname: {{gateway}}
    formatter: TimeColonFormatter
    verbose: {{verbose}}
  - id: leader
    hostname: {{leader}}
    gateway: faraday
    username: r2lab
    formatter: TimeColonFormatter
    verbose: {{verbose}}
  {% for function, hostname in nodes.items() %}
  - id: {{function}}
    hostname: {{hostname}}
    gateway: faraday
    username: root
    formatter: TimeColonFormatter
    verbose: {{verbose}}
  {% endfor %}
  {% for n, hostname in quectel_nodes.items() %}
  - id: quectel_node_{{n}}
    hostname: {{hostname}}
    gateway: faraday
    username: root
    formatter: TimeColonFormatter
    verbose: {{verbose}}
  {% endfor %}

jobs:
  - id: load-images
    node: faraday
    critical: True
    verbose: {{verbose}}
    label: load image {{image}} on FIT worker nodes
    commands:
      - type: Run
        command: >
          rhubarbe load -i {{image}} {%for h in nodes.values()%}{{h}} {% endfor %}
      - type: Run
        command: >
          rhubarbe wait {%for h in nodes.values()%}{{h}} {% endfor %}

  {% if quectel_nodes %}
  - id: prepare-quectels
    node: faraday
    critical: True
    verbose: {{verbose}}
    label: load quectel image {{quectel_image}} on quectel UE nodes
    commands:
      - type: Run
        command: >
          rhubarbe usrpoff {%for n in quectel_nodes.keys()%}{{n}} {% endfor %}
      - type: Run
        command: >
          rhubarbe load -i {{quectel_image}} {%for n in quectel_nodes.keys()%}{{n}} {% endfor %}
      - type: Run
        command: >
          rhubarbe wait {%for n in quectel_nodes.keys()%}{{n}} {% endfor %}
      - type: Run
        command: >
          rhubarbe usrpon {%for n in quectel_nodes.keys()%}{{n}} {% endfor %}
      - type: Run
        command: sleep 30
  {% endif %}

  {% for n in quectel_nodes.keys() %}
  - id: init-quectel-node-{{n}}
    required: prepare-quectels
    node: quectel_node_{{n}}
    critical: True
    verbose: {{verbose}}
    label: init Quectel UE on fit node {{n}}
    commands:
      - type: RunScript
        command: >
          {{nodes_sh}} check-quectel-on
        includes: {{INCLUDES}}
      - type: Run
        command: {{quectel_service_start}}
      - type: Run
        command: sleep 20
      - type: RunScript
        command: >
          {{nodes_sh}} quectel-detach
        includes: {{INCLUDES}}
  {% endfor %}

  # for now, useless to switch off other nodes as we use RfSimulator
  # - id: turn-off-others
  #   node: faraday
  #   critical: False
  #   verbose: {{verbose}}
  #   label: turn off unused nodes
  #   commands:
  #   - type: Run
  #     command: >
  #       rhubarbe bye -- {% for h in nodes.values() %}~{{h}} {% endfor %}
  #   - type: Run
  #     command: sleep 1
  #
  {% for function, hostname in nodes.items() %}
  - id: leave-join-{{function}}
    required: load-images
    node: {{function}}
    critical: False
    verbose: {{verbose}}
    label: >
      Prepare node {{function}} on {{hostname}} for k8s & networking
    commands:
      - type: Run
        command: nmcli con down data; nmcli dev status; leave-tunnel
      - type: Run
        command: kube-install.sh leave-cluster
      - type: Run
        command: sleep 60
      - type: Run
        command: nmcli con up data; nmcli dev status; join-tunnel
      - type: Run
        command: kube-install.sh join-cluster r2lab@{{leader}}
  {% endfor %}

  - id: init-demo
    required:
      {% for function in nodes.keys() %}
      - leave-join-{{function}}
      {% endfor %}
    node: k8s_fit
    critical: True
    verbose: {{verbose}}
    label: >
      Push demo-oai.sh script on {{nodes.k8s_fit}},
      clone oai-cn5g-fed, apply patches,
      and run the k8s demo-oai script from {{nodes.k8s_fit}}
    commands:
      - type: Push
        localpaths:
          - demo-oai.sh
          - configure-demo-oai.sh
        remotepath: /root/
      - type: Run
        command: chmod a+x demo-oai.sh configure-demo-oai.sh
      - type: Run
        command: /root/configure-demo-oai.sh update {{namespace}} {%for h in nodes.values()%}{{h}} {%endfor %} {%for x in regcred.values()%}{{x}} {%endfor %}
      - type: Run
        command: >
          rm -rf oai-cn5g-fed;
          git clone -b master https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-fed
      - type: Run
        command: /root/demo-oai.sh init {{namespace}}
      - type: Run
        command: /root/demo-oai.sh configure-all {%for h in nodes.values()%}{{h}} {% endfor %}

  - id: start-demo
    required: init-demo
    node: k8s_fit
    critical: True
    verbose: {{verbose}}
    label: >
      Launch OAI5G pods by calling demo-oai.sh start from {{k8s_fit}}
    commands:
      - type: Run
        command: /root/demo-oai.sh start {{namespace}} {%for h in nodes.values()%}{{h}} {% endfor %}

  {% for n in quectel_nodes.keys() %}
  - id: attach-quectel-node-{{n}}
    required:
      - start-demo
      - init-quectel-node-{{n}}
    node: quectel_node_{{n}}
    critical: True
    verbose: {{verbose}}
    label: >
      sleep 10s, attach quectel UE on fit node {{n}}; sleep 30s and test cx
    commands:
      - type: Run
        command: sleep 10
      - type: RunScript
        command: >
          {{nodes_sh}} quectel-attach
        includes: {{INCLUDES}}
      - type: Run
        command: sleep 30
      - type: RunScript
        command: >
          {{nodes_sh}} check-quectel-cx
        includes: {{INCLUDES}}
  {% endfor %}

  - id: stop-demo
    required: start-demo
    node: k8s_fit
    critical: True
    verbose: {{verbose}}
    label: >
      Delete OAI5G pods by calling demo-oai.sh stop from {{nodes.k8s_fit}}
    commands:
      - type: Run
        command: /root/demo-oai.sh stop {{namespace}}

  {% for n in quectel_nodes.keys() %}
  - id: detach-quectel-node-{{n}}
    required:
      - stop-demo
      - attach-quectel-node-{{n}}
    node: quectel_node_{{n}}
    critical: True
    verbose: {{verbose}}
    label: >
      detach quectel UE on fit node {{n}}
    commands:
      - type: RunScript
        command: >
          {{nodes_sh}} quectel-detach
        includes: {{INCLUDES}}
  {% endfor %}

  - id: cleanup1
    required: stop-demo
    node: leader
    critical: False
    verbose: {{verbose}}
    label: Drain and delete FIT nodes from the k8s {{leader}} cluster
    commands:
      - type: Run
        command: fit-drain-nodes; fit-delete-nodes

  - id: cleanup2
    required: stop-demo
    node: faraday
    critical: False
    verbose: {{verbose}}
    commands:
      - type: Run
        command: rhubarbe off {%for h in nodes.values()%}{{h}} {% endfor %}
